<a href="https://colab.research.google.com/github/jaymalak/pandas_exercises/blob/master/Exercises_worl_food_facts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

INTRODUCTION : Pandas practise exercises. Tried to use Data from Google Drive

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the tsv file and assign it to a dataframe called food

In [0]:
import pandas as pd
import numpy as np

In [0]:
link = 'https://drive.google.com/open?id=1vLAdjggonT06uwY__At78rxrGriq7BPf'

In [21]:
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

1vLAdjggonT06uwY__At78rxrGriq7BPf

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('en.openfoodfacts.org.products.tsv')  
food = pd.read_csv('en.openfoodfacts.org.products.tsv',sep = '\t')
# Dataset is now stored in a Pandas Dataframe

### Step 4. See the first 5 entries

In [26]:
food.head(5)

    code  ... water-hardness_100g
0   3087  ...                 NaN
1   4530  ...                 NaN
2   4559  ...                 NaN
3  16087  ...                 NaN
4  16094  ...                 NaN

[5 rows x 163 columns]

### Step 5. What is the number of observations in the dataset?

In [27]:
food.shape

(356027, 163)

In [52]:
food.info

<bound method DataFrame.info of                  code  ... water-hardness_100g
0                3087  ...                 NaN
1                4530  ...                 NaN
2                4559  ...                 NaN
3               16087  ...                 NaN
4               16094  ...                 NaN
5               16100  ...                 NaN
6               16117  ...                 NaN
7               16124  ...                 NaN
8               16193  ...                 NaN
9               16513  ...                 NaN
10              16612  ...                 NaN
11              16650  ...                 NaN
12              16872  ...                 NaN
13              16933  ...                 NaN
14              17497  ...                 NaN
15              18012  ...                 NaN
16              18050  ...                 NaN
17              18173  ...                 NaN
18              18197  ...                 NaN
19              18227  ...                 NaN
20              18265  ...                 NaN
21              18289  ...                 NaN
22              18319  ...                 NaN
23              18340  ...                 NaN
24              18357  ...                 NaN
25              18371  ...                 NaN
26              18388  ...                 NaN
27              18395  ...                 NaN
28              18401  ...                 NaN
29              18418  ...                 NaN
...               ...  ...                 ...
355997  9791463741241  ...                 NaN
355998     9800120499  ...                 NaN
355999     9800801107  ...                 NaN
356000     9800895007  ...                 NaN
356001     9800895250  ...                 NaN
356002        9802735  ...                 NaN
356003  9820111458900  ...                 NaN
356004  9836654056565  ...                 NaN
356005  9847548283004  ...                 NaN
356006    98709870987  ...                 NaN
356007     9871311007  ...                 NaN
356008  9876567898765  ...                 NaN
356009         988639  ...                 NaN
356010  9900000000233  ...                 NaN
356011  9900010011557  ...                 NaN
356012  9901198001583  ...                 NaN
356013  9901942000794  ...                 NaN
356014       99044169  ...                 NaN
356015  9906410000009  ...                 NaN
356016  9908278636246  ...                 NaN
356017       99111250  ...                 NaN
356018           9918  ...                 NaN
356019  9935010000003  ...                 NaN
356020       99410148  ...                 NaN
356021  9948282780603  ...                 NaN
356022       99567453  ...                 NaN
356023  9970229501521  ...                 NaN
356024  9977471758307  ...                 NaN
356025  9980282863788  ...                 NaN
356026   999990026839  ...                 NaN

[356027 rows x 163 columns]>

### Step 6. What is the number of columns in the dataset?

In [29]:
food.shape[0]

356027

### Step 7. Print the name of all the columns.

In [30]:
food.columns

Index([u'code', u'url', u'creator', u'created_t', u'created_datetime',
       u'last_modified_t', u'last_modified_datetime', u'product_name',
       u'generic_name', u'quantity',
       ...
       u'fruits-vegetables-nuts_100g', u'fruits-vegetables-nuts-estimate_100g',
       u'collagen-meat-protein-ratio_100g', u'cocoa_100g', u'chlorophyl_100g',
       u'carbon-footprint_100g', u'nutrition-score-fr_100g',
       u'nutrition-score-uk_100g', u'glycemic-index_100g',
       u'water-hardness_100g'],
      dtype='object', length=163)

In [34]:
food.head(0)

Empty DataFrame
Columns: [code, url, creator, created_t, created_datetime, last_modified_t, last_modified_datetime, product_name, generic_name, quantity, packaging, packaging_tags, brands, brands_tags, categories, categories_tags, categories_en, origins, origins_tags, manufacturing_places, manufacturing_places_tags, labels, labels_tags, labels_en, emb_codes, emb_codes_tags, first_packaging_code_geo, cities, cities_tags, purchase_places, stores, countries, countries_tags, countries_en, ingredients_text, allergens, allergens_en, traces, traces_tags, traces_en, serving_size, no_nutriments, additives_n, additives, additives_tags, additives_en, ingredients_from_palm_oil_n, ingredients_from_palm_oil, ingredients_from_palm_oil_tags, ingredients_that_may_be_from_palm_oil_n, ingredients_that_may_be_from_palm_oil, ingredients_that_may_be_from_palm_oil_tags, nutrition_grade_uk, nutrition_grade_fr, pnns_groups_1, pnns_groups_2, states, states_tags, states_en, main_category, main_category_en, image_url, image_small_url, energy_100g, energy-from-fat_100g, fat_100g, saturated-fat_100g, -butyric-acid_100g, -caproic-acid_100g, -caprylic-acid_100g, -capric-acid_100g, -lauric-acid_100g, -myristic-acid_100g, -palmitic-acid_100g, -stearic-acid_100g, -arachidic-acid_100g, -behenic-acid_100g, -lignoceric-acid_100g, -cerotic-acid_100g, -montanic-acid_100g, -melissic-acid_100g, monounsaturated-fat_100g, polyunsaturated-fat_100g, omega-3-fat_100g, -alpha-linolenic-acid_100g, -eicosapentaenoic-acid_100g, -docosahexaenoic-acid_100g, omega-6-fat_100g, -linoleic-acid_100g, -arachidonic-acid_100g, -gamma-linolenic-acid_100g, -dihomo-gamma-linolenic-acid_100g, omega-9-fat_100g, -oleic-acid_100g, -elaidic-acid_100g, -gondoic-acid_100g, -mead-acid_100g, -erucic-acid_100g, -nervonic-acid_100g, trans-fat_100g, ...]
Index: []

[0 rows x 163 columns]

### Step 8. What is the name of 105th column?

In [37]:
food.columns[104]

'-glucose_100g'

### Step 9. What is the type of the observations of the 105th column?

In [39]:
food.dtypes[104]

dtype('float64')

### Step 10. How is the dataset indexed?

In [40]:
food.index

RangeIndex(start=0, stop=356027, step=1)

### Step 11. What is the product name of the 19th observation?

In [51]:
food.columns.get_loc("product_name")

7

In [42]:
food.values[18][7]

'Lotus Organic Brown Jasmine Rice'