<a href="https://colab.research.google.com/github/jaymalak/pandas_exercises/blob/master/filtering_sorting_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTRODUCTION - PANDAS - Exercise on Data Filtering and Sorting.

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [4]:
chipo.head(5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

### Step 4. How many products cost more than $10.00?

In [111]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [0]:
chipo.item_price = [float(value[1 : -1]) for value in chipo.item_price]

In [123]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [126]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [175]:
df = chipo.drop_duplicates(['item_name','item_price'])
df[df.quantity == 1].sort_values(by="item_name" ,ascending = 'true').head(20)

      order_id  ...  item_price
298        129  ...        6.49
4510      1793  ...       11.49
95          42  ...        9.25
115         51  ...        8.99
3195      1278  ...        8.69
39          19  ...       11.75
471        202  ...       11.48
1648       666  ...       11.08
3156      1260  ...        8.69
130         57  ...       11.75
81          36  ...        9.25
21          11  ...        8.99
3276      1313  ...       11.48
1019       419  ...        8.99
255        110  ...        9.25
429        186  ...       11.48
168         75  ...       11.75
1418       576  ...        9.39
1229       501  ...       11.89
268        117  ...        8.99

[20 rows x 5 columns]

### Step 6. Sort by the name of the item

In [177]:
chipo.sort_values("item_name")

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
3422      1373  ...        6.49
553        230  ...        6.49
1916       774  ...        6.49
1922       776  ...        6.49
1937       784  ...        6.49
3836      1537  ...        6.49
298        129  ...        6.49
1976       798  ...        6.49
1167       481  ...        6.49
3875      1554  ...        6.49
1124       465  ...        6.49
3886      1558  ...        6.49
2108       849  ...        6.49
3010      1196  ...        6.49
4535      1803  ...        6.49
4169      1664  ...        6.49
4174      1666  ...        6.49
4527      1800  ...        6.49
4522      1798  ...        6.49
3806      1525  ...        6.49
2389       949  ...        6.49
3132      1248  ...        6.49
3141      1253  ...        6.49
639        264  ...        6.49
1026       422  ...        6.49
...        ...  ...         ...
2996      1192  ...        8.49
3163      1263  ...        8.49
4084      1635  ...        8.49
1694       686  ...        8.49
2756      1094  ...        8.49
4201      1677  ...       11.25
1884       760  ...       11.25
455        195  ...       11.25
3223      1289  ...       11.25
2223       896  ...        8.75
2269       913  ...        8.75
4541      1805  ...        8.75
3293      1321  ...        8.75
186         83  ...       11.25
960        394  ...        8.75
1316       536  ...        8.75
2156       869  ...       11.25
4261      1700  ...       11.25
295        128  ...       11.25
4573      1818  ...        8.75
2683      1066  ...        8.75
496        207  ...       11.25
4109      1646  ...       11.25
738        304  ...       11.25
3889      1559  ...       16.98
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [181]:
chipo.sort_values(by="item_price", ascending=False).head(1)

      order_id  quantity  ... choice_description item_price
3598      1443        15  ...                NaN      44.25

[1 rows x 5 columns]

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [192]:
len(chipo[chipo.item_name =='Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [197]:
len(chipo[(chipo.item_name =='Canned Soda') & (chipo.quantity > 1)])

20